.book-item {
    background-color: #a10e18;
    color: white;
    display:grid ;
    justify-content: center;
    align-items: center;
    
}

.title {
    margin: 10px;
}

.desc {
    margin: 10px
}

button{
    border: none;
    color: rgb(113, 0, 0);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-info{
    background-color: rgb(72, 2, 2);
    border-color: #a10e18;
    align-self: center;
}