.table {
    margin: 0 auto 20px;
}

.today {
    background-color: #ff0000;
    color: rgb(0, 0, 0);
}

.in-prev-month{
    opacity: 0.5;
    color: rgb(60, 60, 60);
}

.in-next-month{
    opacity: 0.5;
    color: rgb(60, 60, 60);
}

.in-this-month{
    opacity: 0.5;
    color: rgb(0, 0, 0);
}

.buttonControl{
    background-color: #000000;
}
