.table {
    margin: 0 auto 20px;
}

.today {
    background-color: #ff0000;
    color: rgb(0, 0, 0);
}

.in-prev-month{
    text-align: center;
    opacity: 0.5;
    color: rgb(60, 60, 60);
}

.in-next-month{
    text-align: center;
    opacity: 0.5;
    color: rgb(60, 60, 60);
}

.in-this-month{
    text-align: center;
    opacity: 0.5;
    color: rgb(0, 0, 0);
}

.buttonControl{
    text-align: center;
    background-color: #4f4f4f;
    color:rgb(0, 0, 0)
}

.mountTitle{
    margin: 0 auto 20px;
}

.megacontenedordebotones8000{
    margin: 0 auto 20px;
}